[project]
	description = handwriting recongnition system
[access]
	inheritFrom = All-Projects
[access "refs/*"]
	owner = group user/Qiao Zhao (linuxqiao)
[access "refs/for/refs/*"]
	read = group user/Qiao Zhao (linuxqiao)
	push = group user/Qiao Zhao (linuxqiao)
	label-Code-Review = -2..+2 group user/Qiao Zhao (linuxqiao)
	label-Verified = -1..+1 group user/Qiao Zhao (linuxqiao)
	rebase = group user/Qiao Zhao (linuxqiao)
	removeReviewer = group user/Qiao Zhao (linuxqiao)
	submit = group user/Qiao Zhao (linuxqiao)
[access "refs/heads/*"]
	read = group user/Qiao Zhao (linuxqiao)
	create = group user/Qiao Zhao (linuxqiao)
	push = +force group user/Qiao Zhao (linuxqiao)
	pushMerge = group user/Qiao Zhao (linuxqiao)
[access "refs/tags/*"]
	push = +force group user/Qiao Zhao (linuxqiao)
	pushTag = group user/Qiao Zhao (linuxqiao)
	pushSignedTag = group user/Qiao Zhao (linuxqiao)
